httpx
selenium
fastapi
uvicorn
sqlalchemy
databases
fastapi-users[sqlalchemy]
python-jose[cryptography]
passlib[bcrypt]
email-validator
alembic
celery[redis]
python-dotenv
aiosqlite
apscheduler
itsdangerous
jinja2
aiosmtplib
alembic==1.16.1
beautifulsoup4==4.13.4